<div class="drawer lg:drawer-open">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />

  <div class="drawer-side">
    <!-- Close Button Overlay -->
    <label
      for="my-drawer-2"
      aria-label="Close sidebar"
      class="drawer-overlay"
    ></label>

    <!-- Sidebar with Full Screen Height and No Scrollbar -->
    <div class="flex flex-col h-screen">
      <!-- Sidebar Header -->
      <div class="flex items-center w-80 bg-gray-700 p-4 justify-start">
        <span class="text-red-400">{% heroicon_outline "fire" size=40 %}</span>
        <p class="text-white text-xl font-bold ml-4">Project</p>
      </div>

      <!-- Sidebar Menu with Prevented Scroll -->
      <ul
        class="menu bg-gray-700 text-white text-lg w-80 p-4 space-y-2 overflow-hidden flex-grow"
      >
        <!-- Create New Project Link -->
        <li class="hover:bg-gray-500 rounded-md">
          <a href="{% url 'create_project' %}" class="block px-4 py-2"
            >Create new project</a
          >
        </li>
        <!-- Add More Links Here -->
        <!-- <li class="hover:bg-gray-500 rounded-md"><a href="#">Another link</a></li> -->
      </ul>
    </div>
  </div>
</div>
