{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extract Fail Code</title>
    {% tailwind_css %}
</head>

<body class="bg-gray-900">
    {% include 'core/partials/navbar.html' %}
    <div class="flex justify-center items-center h-screen">
        <div class="bg-gray-800 p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl text-white mb-4">Extract Fail Code</h2>
            <p class="text-white">Fail code extraction logic goes here.</p>
        </div>
    </div>
</body>

</html>