{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Config File</title>
    {% tailwind_css %}
</head>

<body class="bg-gray-900">
    {% include 'core/partials/navbar.html' %}
    <div class="flex justify-center items-center h-screen">
        <div class="bg-gray-800 p-8 rounded-lg shadow-lg">
            <h2 class="text-2xl text-white mb-4">Upload Config File</h2>
            {% if success %}
            <div class="bg-green-500 text-white p-4 rounded mb-4">
                {{ success }}
            </div>
            {% endif %}
            <form method="POST" action="{% url 'upload_config' project_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="config_file" accept=".xlsm" class="mb-4">
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">Upload</button>
            </form>
        </div>
    </div>
</body>

</html>