{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actuators</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-900">
    {% include 'core/partials/navbars/navbar_index.html' %}
    <div class="flex">
        <div class="w-64 h-screen bg-gray-900 border-r border-gray-900">
            {% include 'core/partials/sidebars/sidebar_station.html' with station_id=station.id %}
        </div>
        <main class="flex-1 p-6 bg-gray-900 mt-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-10">
                {% if actuators %}
                    {% for actuator in actuators %}
                        <div class="bg-gray-800 text-white rounded-lg shadow-lg p-4">
                            <h3 class="text-lg font-semibold mb-2">Actuator ID: {{ actuator.actuator_id  }}</h3>
                            <div class="flex justify-start items-center space-x-4">
                                <form method="GET" action="#">
                                    <button type="submit" class="btn btn-primary">Detail</button>
                                </form>
                                <form method="POST" action="#" onsubmit="return confirm('Are you sure you want to delete this station?');" hx-delete hx-target="#station-{{ station.id }}" hx-swap="outerHTML">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                                {% comment %} {% for member in actuator.members.all %} {% endcomment %}
                                    {% comment %} <div class="bg-gray-800 text-white rounded-lg shadow p-2 mb-2"> {% endcomment %}
                                        {% comment %} <p class="text-sm text-gray-400 mb-2">Name: {{ actuator.members.all. }}</p> {% endcomment %}
                                        {% comment %} <p class="text-sm text-gray-400 mb-2">Index: {{ member.index }}</p>
                                        <p class="text-sm text-gray-400 mb-2">Data Type: {{ member.data_type }}</p>
                                        <p class="text-sm text-gray-400 mb-2">Prefix: {{ member.prefix }}</p>
                                        <p class="text-sm text-gray-400 mb-2">Output: {{ member.actuator_output }}</p>
                                        <p class="text-sm text-gray-400 mb-2">Output Description: {{ member.output_description }}</p>
                                        <p class="text-sm text-gray-400 mb-2">Input: {{ member.actuator_input }}</p>
                                        <p class="text-sm text-gray-400 mb-2">Input Description: {{ member.input_description }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 0: {{ member.alm_0 }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 1: {{ member.alm_1 }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 0 Desc Lang 1: {{ member.alm_0_description_language_1 }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 0 Desc Lang 2: {{ member.alm_0_description_language_2 }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 0 Desc Lang 3: {{ member.alm_0_description_language_3 }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 1 Desc Lang 1: {{ member.alm_1_description_language_1 }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 2 Desc Lang 2: {{ member.alm_2_description_language_2 }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 3 Desc Lang 3: {{ member.alm_3_description_language_3 }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 0 Procedure: {{ member.alm_0_procedure }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 1 Procedure: {{ member.alm_1_procedure }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 0 Bad: {{ member.alm_0_bad }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 1 Bad: {{ member.alm_1_bad }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 0 Cause: {{ member.alm_0_cause }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 1 Cause: {{ member.alm_1_cause }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 0 Action: {{ member.alm_0_action }}</p>
                                        <p class="text-sm text-gray-400 mb-2">ALM 1 Action: {{ member.alm_1_action }}</p> {% endcomment %}
                                    {% comment %} </div> {% endcomment %}
                                {% comment %} {% endfor %} {% endcomment %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-span-full text-center text-white">
                        <div>No actuators available.</div>
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
</body>
</html>