{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fail Codes</title>
    {% tailwind_css %}
</head>
<body class="bg-gray-900">
    {% include 'core/partials/navbars/navbar_index.html' %}
    <div class="flex">
        <div class="w-64 h-screen bg-gray-900 border-r border-gray-900">
            {% include 'core/partials/sidebars/sidebar_station.html' with station_id=station.id %}
        </div>
        <main class="flex-1 p-6 bg-gray-900 mt-10">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mt-10">
                {% if fail_codes %}
                    {% for fail_code in fail_codes %}
                        <div class="bg-gray-800 text-white rounded-lg shadow-lg p-4">
                            <h3 class="text-lg font-semibold mb-2">Fail Code ID: {{ fail_code.failcodeID }}</h3>
                            <p class="text-sm text-gray-400 mb-4">Description: {{ fail_code.description }}</p>
                            <div class="flex justify-start items-center space-x-2">
                                <form method="POST" action="{% url 'delete_fail_code' fail_code.id %}" onsubmit="return confirm('Are you sure you want to delete this fail code?');" hx-delete hx-target="#fail_code-{{ fail_code.id }}" hx-swap="outerHTML">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">Delete</button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="col-span-full text-center text-white">
                        <div>No fail codes available.</div>
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
</body>
</html>